name: CI/CD
on:
  push:
    branches:
      - main

jobs:
  test_and_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup node
        uses: actions/setup-node@v5
        with:
          node-version: 22.14.0
          cache: "pnpm"
      - name: Install dependencies
        shell: bash
        run: pnpm install --frozen-lockfile
      - name: Create config for release
        run: cp .github/workflows/.releaserc.template .releaserc
      - name: Release
        uses: cycjimmy/semantic-release-action@v6
        with:
          branches: '["main", "next"]'
          tag_format: "dummy-v${version}"
          extra_plugins: |
            @anolilab/semantic-release-pnpm
            @semantic-release/changelog
            @semantic-release/git
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
